html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.ruler-vertical {
    position: fixed;
    top: 0;
    z-index: 0;
    width: 60px;
    height: 100%;
    padding-top: 20px;
}

.ruler-horizontal {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 60px;
    padding-left: 20px;
}

.ruler-horizontal svg, .ruler-vertical svg {
    width: 100%;
    height: 100%;
}

.ruler-vertical div, .ruler-horizontal div {
    width: 80px;
    height: 80px;
}

.content {
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding-left: 60px;
    position: fixed;
}

#scroll {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.rulez-line {
    stroke: #b5e853;
    stroke-width: 1
}

.rulez-rect {
    fill: #b5e853
}

.rulez-text {
    font-size: 8px;
    fill: #b5e853
}

.green-square{
    background-color: #b5e853;
    width: 20px;
    height: 20px;
    position: fixed;
    top: 0;
    left: 0;
}