html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.ruler-vertical {
    position: fixed;
    top: 0;
    z-index: 0;
    width: 35px;
    height: 100%;
    padding-top: 20px;
}

.ruler-horizontal {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 35px;
    padding-left: 20px;
}

.ruler-horizontal svg, .ruler-vertical svg {
    width: 100%;
    height: 100%;
}

.rulez-line {
    stroke: black;
    stroke-width: 1
}

.rulez-rect {
    fill: black
}

.rulez-text {
    font-size: 14px;
    fill: black
}

.rulez-grey {
    fill: rgb(132,132,132);
}