.rulez-line {
    stroke: grey;
    stroke-width: 1;
}

.rulez-rect {
    fill: grey;
}

.rulez-guide-vert {
    fill: grey;
    cursor: row-resize;
}

.rulez-guide-vert-global {
    cursor: row-resize;
}

.rulez-guide-horiz {
    fill: grey;
    cursor: col-resize;
}

.rulez-guide-horiz-global {
    cursor: col-resize;
}

.rulez-text {
    font-size: 8px;
    fill: lightgray;
}

.rulez-position-element {
    position: absolute;
    background-color: black;
    color: grey;
    font-size: 8px;
}